h1 {
  color: #3b5998;
  position:relative; left: 340px; top:230px;
}
h2 {
  color: #898F9C;
  position:relative; left: 340px; top:230px;
}
h3 {
  color: #898F9C;
  position:relative; left: 340px; top:250px;
}
h4 {
  color: #898F9C;
  width: 1000px;
  margin-left: 1300px;
  margin-top: 200px;
  margin-bottom: -200px;
  text-align: left;
  font-size: 20px;
}
li {
  color: #898F9C;
  width: 1000px;
  margin-left: 1300px;
  margin-top: 200px;
  margin-bottom: -200px;
  text-align: left;
  font-size: 20px;
}
p {
  color: #898F9C;
  width: 1000px;
  margin-left: 1300px;
  margin-top: 200px;
  margin-bottom: -200px;
  text-align: left;
  font-size: 20px;
}
body {
  text-align: center;
  margin-top: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
a {color: #3b5998;
}
a-hover {color: #898F9C;
}
