.col {
  float: left;
  width: 19%;
  margin-right: 1%;
}
.column {
  float: left;
  width: 23%;
  margin-right: 1%;
}
img {
  width: 100%;
  height: auto;
}
body {
  background-color: #E8E8E8
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
ul {
  color: #3A6AB3;
  font-size: 2rem;
}
