*{
  margin: 10;
  padding: .5em 1.25em;
}
body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: normal;
  background-color: #CFC9E3;
}
main{
   width: 60vw;
   margin: 70px auto;
   font-size: 17px
}
h2, h3, h6{
  font-family: 'Abril Fatface', cursive;
  line-height: 2;
}
h1{
  font-family: 'Abril Fatface', cursive;
  font-weight: extra-bold 800;
  font-size: 70px;
  color: #241F51;
}
h2{
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
  text-align: left;
  font-weight: bolder;
  color: #8157A4;
}
h3{
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  color: #8157A4
}
h4{
  color: #241F51;
  font-weight: lighter;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
}
p{
  text-align: left;
  font-size: 20px;
  color: #241F51;
}

ol{
  text-align: left;
  padding: 0 80px;
  font-weight: lighter;
  color: #241F51;
}
.introduction {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #5F51A3;
}
